<ion-content cache-view="false" has-bouncing="false" ng-class="{expanded:$scope.isExpanded}" 
	class="full-page-content">
	<div class="item-image" style="width:100%; height:auto">
		<img src="images/kirkland/banner.png" class="kirkland-banner">
	</div>
	<div>
		<div class="item-text-wrap" style="padding: 14px 4% 0px 4%; color: #091930; font-size:3vh">
		 <p><b>La marca exclusiva de Costco</b></p>
		</div>
		<div style="padding: 0px 5% 12px 5%; color:#051330; font-size:3vmin">
			<ul style="list-style: disc inside; padding: 6px 0% 6px 0%;">
				<li style="padding-top:8px;">El com&uacute;n denominador es: la combinaci&oacute;n perfecta entre calidad y precio.</li>
				<li style="padding-top:8px;">Todos los art&iacute;culos son iguales o mejores que las marcas l&iacute;deres en su categor&iacute;a y ofrecen excelentes ahorros.</li>
			</ul>
		</div>
		<div><p></br></br></br></p></div>
	</div>
</ion-content>