<ion-content cache-view="false" has-bouncing="false" 
	ng-class="{expanded:$scope.isExpanded}" class="full-page-content">
    
	<div class="item-image" style="textg-align:center;width: 100%;height: auto; background-color:#FFFFFF; padding-top: 2%;">
		<img src="images/tarjeta/banner.png" style="width: 100%;height: 38%; padding: 5% 17% 5% 17%;">
	</div>

	<div class="padding" style="margin-bottom: -2vh;">
	<span class="title" style="font-size: 1.5em; font-weight: bold;">Tarjeta de Cr&eacute;dito Costco<br />&iexcl;La mejor forma de comprar!</span>
	</div>

	<ul style="display:inline-block; margin-left: 2vh;" class="padding">
	    <li style="list-style: disc; text-align: justify;">Reciba el 2&#37; anual de todas las compras realizadas en Costco M&eacute;xico.</li>
	    <li style="list-style: disc; text-align: justify;">Precio de efectivo. Ahorre 2.3&#37; en cada una de las compras que realice en Costco M&eacute;xico.</li>
	    <li style="list-style: disc; text-align: justify;">Anualidad sin costo el primer año.</li>
	    <li style="list-style: disc; text-align: justify;">Servicio de Parcializaci&oacute;n. Usted elige 12 &oacute; 6 pagos mensuales.
			<ul style="padding-left:1em;">
				<li style="list-style: circle;">6.5&#37; m&aacute;s IVA sobre el valor total de la compra.</li>
				<li style="list-style: circle;">12 meses m&iacute;nimo de compra &#36;6,000 MN.</li>
				<li style="list-style: circle;">6 meses m&iacute;nimo de compra &#36;1,000 MN.</li>
				<li style="list-style: circle;">Sujeto a cambios en tasa de inter&eacute;s interbancaria.</li>
			</ul>
		</li>
	    <li style="list-style: disc; text-align: justify;">Promociones exclusivas.</li>
	    <li style="list-style: disc; text-align: justify;">2&#37; de Reembolso anual con su Membres&iacute;a Ejecutiva.</li>
	    <li style="list-style: disc; text-align: justify;">CAT PROMEDIO 66.1% sin IVA.</li>
	    <li style="list-style: disc; text-align: justify;">Tasa de interés promedio ponderada anual 50.9% calculado el 03 de agosto de 2017.</li>
	</ul>
	<center>
		<div ng-click="conection4();"
		style="background-color: rgba(58, 96, 129, 0.9); border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
		<span>SOLICÍTALA YA</span>
	</center>
	<div><p></br></br></p></div>
	</div>
</ion-content>