<ion-pane cache-view="false">
	<ion-content has-bouncing="false" ng-class="{expanded:$scope.isExpanded}" class="full-page-content">
		<div class="item-image" style="width:100%; height: auto;">
			<img src="images/anegocios/Plataforma.png" class="anegocios-banner">
		</div>

		<div style="width:100%;">
			<div class="item-text-wrap" style="textg-align:left; padding: 3% 1% 0px 1%; color: #091930; font-size:3vh">
				<p><b>Atenci&oacute;n a Negocios</b></p>
			</div>
			<div style="textg-align:left; padding: 0px 3% 0px 3%; color:#051330; font-size:3vmin">
				<ulstyle="list-style-type: disc !important;">
					<li style="padding-top:1%;">Atenci&oacute;n y asesor&iacute;a personalizada</li>
					<li style="padding-top:1%;">Art&iacute;culos para Hoteles y Restaurantes</li>
					<li style="padding-top:1%;">Seguridad integral y certificaci&oacute;n en el manejo de alimentos</li>
					<li style="padding-top:1%;">Diferentes esquemas de cr&eacute;dito</li>
					<li style="padding-top:1%;">2% de Reembolso anual con su Membres&iacute;a Ejecutiva</li>
				</ul>
			</div>
		</div>
		
		<div class="md-button-anegocios" ui-sref="app.sucursales" 
			style="border:0px; text-align: center !important;">
			<span class="md-inline-list-icon-label">Ver Sucursales</span>
		</div>
		<div><p></br></br></br></p></div>
	</ion-content>
</ion-pane>