<section style="padding-top:80px;width:100%;height:94%;overflow:scroll;-webkit-overflow-scrolling: touch;">
	<article class="content-politicas">
		<p class="titulos-black txt-center">Pol&iacute;ticas de Privacidad
			y Seguridad</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico se compromete a asegurar
			la confidencialidad/privacidad de la informaci&oacute;n personal
			obtenida a trav&eacute;s de sus servicios en l&iacute;nea. Le
			sugerimos leer la normativa descrita a continuaci&oacute;n, para
			entender el tratamiento de su informaci&oacute;n personal cuando
			utiliza nuestros servicios en el sitio de Costco M&eacute;xico. Estas
			normas de confidencialidad pueden tener cambios en el futuro, por lo
			que se recomienda revisarlas peri&oacute;dicamente.</p>
		<br />

		<p class="titulos-black">1.- Tipo de informaci&oacute;n personal
			que se obtiene</p>
		<br />

		<p class="txt-gray">En Costco M&eacute;xico recogemos
			informaci&oacute;n de diferentes maneras desde varias &aacute;reas de
			nuestro sitio web. Se encuentra sujeta a las normas de
			confidencialidad y privacidad toda aquella informaci&oacute;n
			personal que el usuario ingresa voluntariamente a nuestro sitio, la
			creaci&oacute;n del perfil personal, la inscripci&oacute;n al
			servicio de notificaci&oacute;n de ofertas especiales a trav&eacute;s
			de correo electr&oacute;nico, el registro a nuestros programas de
			lealtad, el env&iacute;o de postales electr&oacute;nicas, as&iacute;
			como la informaci&oacute;n que ingresa durante su
			participaci&oacute;n en los concursos, rifas y encuestas en
			l&iacute;nea que llevamos a cabo ocasionalmente. Para cada uno de
			estos programas, la informaci&oacute;n que se solicita es distinta y
			se almacena en bases de datos separadas.</p>
		<br />

		<p class="txt-gray">Contacto en l&iacute;nea: la
			informaci&oacute;n solicitada en esta secci&oacute;n permite a Costco
			M&eacute;xico contactar a los clientes cuando sea necesario. Entre la
			informaci&oacute;n solicitada al usuario se encuentra: nombre,
			apellido, nombre de la compa&ntilde;&iacute;a donde trabaja,
			direcci&oacute;n, direcci&oacute;n de correo electr&oacute;nico y
			n&uacute;mero telef&oacute;nico.</p>
		<br />

		<p class="txt-gray">Los usuarios pueden ser contactados por
			tel&eacute;fono, correo o correo electr&oacute;nico si se requiriera
			informaci&oacute;n adicional para completar alguna
			transacci&oacute;n.</p>
		<br />

		<p class="txt-gray">Programa de notificaci&oacute;n de ofertas a
			trav&eacute;s de correo electr&oacute;nico. La informaci&oacute;n que
			los visitantes nos proporcionan incluye: nombre, apellido,
			direcci&oacute;n de correo electr&oacute;nico, direcci&oacute;n,
			pa&iacute;s, n&uacute;mero de tel&eacute;fono, preferencias y
			h&aacute;bitos, entre otros. El usuario puede modificar esta
			informaci&oacute;n en cualquier momento y ser&aacute; empleada para
			adecuar las promociones y avisos enviados a las preferencias
			indicadas por &eacute;l mismo.</p>
		<br />

		<p class="txt-gray">Env&iacute;o de postales electr&oacute;nicas.
			La informaci&oacute;n que los visitantes nos proporcionan incluye:
			nombre del remitente, direcci&oacute;n de correo electr&oacute;nico
			del remitente, nombre del destinatario, direcci&oacute;n de correo
			electr&oacute;nico del destinatario, rango de edad, pa&iacute;s, sexo
			y c&oacute;digo postal. Esta informaci&oacute;n ser&aacute; empleada
			para adecuar las promociones y avisos enviados al cliente.</p>
		<br />

		<p class="txt-gray">Concursos, rifas y encuestas en l&iacute;nea:
			El tipo de informaci&oacute;n solicitada por estos medios puede ser
			muy variable, podr&aacute; incluir datos personales, h&aacute;bitos y
			preferencias, opiniones acerca de los servicios de nuestros sitios y
			comentarios acerca de servicios propuestos. La informaci&oacute;n
			recabada ser&aacute; para uso exclusivo de Costco M&eacute;xico y
			tendr&aacute; como finalidad la retroalimentaci&oacute;n de los
			usuarios acerca de los servicios que prestamos con el fin de
			mejorarlos.</p>
		<br />

		<p class="txt-gray">Despu&eacute;s de que la informaci&oacute;n
			llega a Costco M&eacute;xico, &eacute;sta es almacenada en un
			servidor seguro que reside atr&aacute;s de un firewall dise&ntilde;ado para
			obstaculizar el acceso desde afuera de la compa&ntilde;&iacute;a.
			Desafortunadamente, ninguna transmisi&oacute;n por Internet puede
			garantizar su seguridad al 100%. Por lo tanto, aunque Costco
			M&eacute;xico se esfuerce en proteger su informaci&oacute;n personal,
			no puede asegurar ni garantizar la seguridad en la transmisi&oacute;n
			de ninguna informaci&oacute;n relacionada con ninguno de nuestros
			servicios en l&iacute;nea, por lo que usted corre su propio riesgo.
			Una vez recibidos los datos, haremos todo lo posible para
			salvaguardar su seguridad en nuestros sistemas. En este tema, el
			equipo de colaboradores de Costco M&eacute;xico ha enfocado sus
			esfuerzos para ofrecer la tecnolog&iacute;a m&aacute;s moderna y
			actualizada a fin de ofrecerle la mayor seguridad posible.</p>
		<br />

		<p class="titulos-black">2.- C&oacute;mo se utiliza su
			informaci&oacute;n personal</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico utiliza la
			informaci&oacute;n suministrada durante el proceso de registro de
			perfil, inscripci&oacute;n a alg&uacute;n programa y promociones para
			realizar estudios internos sobre los datos demogr&aacute;ficos,
			intereses y comportamiento de nuestros usuarios -este estudio se
			compila y analiza en conjunto. El objetivo m&aacute;s importante de
			Costco M&eacute;xico al recoger datos personales es entender y
			proporcionar al usuario una experiencia m&aacute;s satisfactoria al
			visitar nuestros sitios y adquirir nuestros servicios, ya que al
			conocer m&aacute;s a nuestros visitantes podemos proporcionarles
			productos acordes a sus necesidades, as&iacute; como contenido y
			publicidad m&aacute;s adecuados.</p>
		<br />

		<p class="txt-gray">Al recabar los datos del usuario en
			l&iacute;nea, podemos elaborar estad&iacute;sticas internas que nos
			indiquen cu&aacute;les son los servicios y productos m&aacute;s
			apreciados por diferentes segmentos de usuarios, igualmente nos sirve
			para dar la formalidad debida al proceso transaccional.</p>
		<br />

		<p class="txt-gray">En nuestro programa de notificaci&oacute;n de
			ofertas a trav&eacute;s de correo electr&oacute;nico, s&oacute;lo
			Costco M&eacute;xico tiene acceso a la informaci&oacute;n recabada.
			Este tipo de publicidad se realiza mediante avisos y mensajes
			promocionales de correo electr&oacute;nico, los cuales s&oacute;lo
			ser&aacute;n enviados a usted, si al momento de registrarse usted
			indic&oacute; que desear&iacute;a recibirlos, esta indicaci&oacute;n
			podr&aacute; usted modificarla en cualquier momento. En los correos
			electr&oacute;nicos enviados, pueden incluirse ocasionalmente ofertas
			de terceras partes que sean nuestros socios comerciales.</p>
		<br />

		<p class="txt-gray">Adem&aacute;s de solicitar informaci&oacute;n
			durante los procesos de registro antes mencionados, le podremos
			solicitar informaci&oacute;n personal en otras ocasiones como, por
			ejemplo, al participar en un concurso o en cualquier promoci&oacute;n
			de nuestro sitio y al notificarnos sobre un problema con nuestro
			sitio o servicios. Costco M&eacute;xico tambi&eacute;n suele hacer
			encuestas entre sus usuarios en l&iacute;nea, cuyas respuestas son
			utilizadas en estudios internos.</p>
		<br />

		<p class="titulos-black">3.- Qu&eacute; son los cookies y
			c&oacute;mo se utilizan</p>
		<br />

		<p class="txt-gray">Los cookies son peque&ntilde;as piezas de
			informaci&oacute;n que son enviadas por el sitio Web a su navegador.</p>
		<br />

		<p class="txt-gray">Los cookies se almacenan en el disco duro de
			su equipo y se utilizan para determinar sus preferencias cuando se
			conecta a los servicios de nuestros sitios, as&iacute; como para
			rastrear determinados comportamientos o actividades llevadas a cabo
			por usted dentro de nuestros sitios.</p>
		<br />

		<p class="txt-gray">En algunas secciones de nuestro sitio
			requerimos que el cliente tenga habilitados los cookies ya que
			algunas de las funcionalidades requieren de &eacute;stas para
			trabajar. Los cookies nos permiten: a) reconocerlo al momento de
			entrar a nuestros sitios y ofrecerle de una experiencia
			personalizada, b) conocer la configuraci&oacute;n personal del sitio
			especificada por usted, por ejemplo, los cookies nos pemiten detectar
			el ancho de banda que usted ha seleccionado al momento de ingresar al
			home page de nuestros sitios, de tal forma que sabemos qu&eacute;
			tipo de informaci&oacute;n es aconsejable descargar, c) calcular el
			tama&ntilde;o de nuestra audiencia y medir algunos par&aacute;metros de
			tr&aacute;fico, pues cada navegador que obtiene acceso a nuestros
			sitios adquiere un cookie que se usa para determinar la frecuencia de
			uso y las secciones de los sitios visitadas, reflejando as&iacute;
			sus h&aacute;bitos y preferencias, informaci&oacute;n que nos es
			&uacute;til para mejorar el contenido, los titulares y las
			promociones para los usuarios. Los cookies tambi&eacute;n nos ayudan
			a rastrear algunas actividades, por ejemplo, en algunas de las
			encuestas que lanzamos en l&iacute;nea, podemos utilizar cookies para
			detectar si el usuario ya ha llenado la encuesta y evitar desplegarla
			nuevamente, en caso de que lo haya hecho. El bot&oacute;n de ayuda
			que se encuentra en la barra de herramientas de la mayor&iacute;a de
			los navegadores, le dir&aacute; c&oacute;mo evitar aceptar nuevos
			cookies, c&oacute;mo hacer que el navegador le notifique cuando
			recibe un nuevo cookie o c&oacute;mo deshabilitar todos los cookies.
			Sin embargo, las cookies le permitir&aacute;n tomar ventaja de las
			caracter&iacute;sticas m&aacute;s ben&eacute;ficas que le ofrecemos,
			por lo que le recomendamos que las deje activadas.</p>
		<br />

		<p class="titulos-black">4.- Confidencialidad de la
			informaci&oacute;n</p>
		<br />

		<p class="txt-gray">Cuando se encuentre en el sitio de Costco
			M&eacute;xico y le pidan datos personales, usted compartir&aacute; la
			informaci&oacute;n s&oacute;lo con Costco M&eacute;xico, salvo que se
			especifique lo contrario.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico no compartir&aacute; la
			informaci&oacute;n confidencial con terceras partes, excepto que
			tenga expresa autorizaci&oacute;n de quienes se suscribieron, o
			cuando haya sido requerido por orden judicial para cumplir con las
			disposiciones procesales.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico no vende ni alquila la
			informaci&oacute;n de los usuarios. Si los datos personales del
			usuario debieran ser compartidos con socios comerciales o
			patrocinantes, el usuario ser&aacute; notificado antes que
			&eacute;stos sean recogidos o transferidos. Si el usuario no desea
			que sus datos sean compartidos, puede decidir no utilizar un servicio
			determinado o no participar en algunas promociones o concursos.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico puede difundir las
			estad&iacute;sticas en conjunto de los usuarios (por ejemplo, el
			porcentaje de nuestros usuarios que son hombres o mayores a
			determinada edad, etc.) para describir nuestros servicios y para
			otros prop&oacute;sitos l&iacute;citos en los casos que marque la
			ley.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico puede difundir la
			informaci&oacute;n de la cuenta en casos especiales cuando pensemos
			que proporcionar esta informaci&oacute;n puede servir para
			identificar, localizar o realizar acciones legales contra personas
			que pudiesen infringir las condiciones del servicio del sitio de
			Costco M&eacute;xico, o causar da&ntilde;os o interferencia sobre los
			derechos de Costco M&eacute;xico o sus propiedades, de otros usuarios
			del sitio de Costco M&eacute;xico o de cualquier otra persona que
			pudiese resultar perjudicada por dichas actividades. Costco
			M&eacute;xico puede difundir u obtener acceso a la informaci&oacute;n
			de cuenta cuando, actuando de buena f&eacute;, creamos que es
			necesario por razones legales, administrativas o de otra
			&iacute;ndole y lo consideremos necesario para mantener, proporcionar
			y desarrollar nuestros productos y servicios.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico no asume ninguna
			obligaci&oacute;n de mantener confidencial cualquier otra
			informaci&oacute;n que el usuario proporcione, incluyendo aquella
			informaci&oacute;n que el usuario proporcione a trav&eacute;s de
			boletines y pl&aacute;ticas en l&iacute;nea (chats), as&iacute; como
			la informaci&oacute;n que obtenga a trav&eacute;s de los cookies que
			se describen en el inciso 3, lo anterior en t&eacute;rminos de lo
			establecido en el art&iacute;culo 109 de la Ley Federal de los
			Derechos de Autor y de la fracci&oacute;n I, del art&iacute;culo 76
			bis de la Ley Federal de Protecci&oacute;n al Consumidor.</p>
		<br />

		<p class="titulos-black">5.- Modificaci&oacute;n /
			actualizaci&oacute;n de la informaci&oacute;n</p>
		<br />

		<p class="txt-gray">Los datos personales proporcionados por el
			usuario formar&aacute;n parte de un archivo que contendr&aacute; su
			perfil. El usuario puede modificar su perfil en cualquier momento
			utilizando su n&uacute;mero de usuario/socio y su n&uacute;mero de
			identificaci&oacute;n personal asignados o que &eacute;l mismo
			eligi&oacute;.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico aconseja al usuario que
			actualice sus datos cada vez que &eacute;stos sufran alguna
			modificaci&oacute;n, ya que esto permitir&aacute; brindarle un
			servicio m&aacute;s personalizado.</p>
		<br />

		<p class="txt-gray">Si usted participa en el servicio de
			promociones v&iacute;a correo electr&oacute;nico podr&aacute; en
			cualquier momento desactivar el servicio.</p>
		<br />

		<p class="titulos-black">6.- Protecci&oacute;n de la
			informaci&oacute;n personal</p>
		<br />

		<p class="txt-gray">La informaci&oacute;n proporcionada por el
			usuario, est&aacute; asegurada por un n&uacute;mero de
			identificaci&oacute;n personal al cual s&oacute;lo el usuario
			podr&aacute; acceder y de la cual s&oacute;lo &eacute;l tiene
			conocimiento.</p>
		<br />

		<p class="txt-gray">Le recomendamos que no revele su contrase&ntilde;a a
			nadie. Costco M&eacute;xico no solicitar&aacute; su contrase&ntilde;a en
			ninguna llamada telef&oacute;nica o mensaje de correo no solicitados.
			En todo momento, el usuario es el responsable &uacute;nico y final de
			mantener en secreto su n&uacute;mero de usuario / socio, contrase&ntilde;a
			personal, clave de acceso y n&uacute;mero confidencial con los cuales
			tenga acceso a los servicios y contenidos de nuestro sitio. Para
			disminuir los riesgos Costco M&eacute;xico recomienda al usuario
			salir de su cuenta y cerrar la ventana de su navegador cuando
			finalice su actividad, m&aacute;s a&uacute;n si comparte su
			computadora con alguien o utiliza una computadora en un lugar
			p&uacute;blico como una biblioteca o un caf&eacute; Internet.</p>
		<br />

		<p class="txt-gray">Una vez recibidos los datos, haremos todo lo
			posible para salvaguardar su seguridad en nuestros sistemas. En este
			tema, el equipo de colaboradores de Costco M&eacute;xico ha enfocado
			sus esfuerzos para ofrecer la tecnolog&iacute;a m&aacute;s moderna y
			actualizada a fin de ofrecerle la mayor seguridad posible.</p>
		<br />

		<p class="titulos-black">7.- Confidencialidad de los menores</p>
		<br />

		<p class="txt-gray">La salvaguarda de la informaci&oacute;n
			personal infantil es extremadamente importante. Costco M&eacute;xico
			recauda el m&iacute;nimo indispensable de esa informaci&oacute;n
			necesaria para brindar sus servicios.</p>
		<br />

		<p class="txt-gray">Costco M&eacute;xico no solicita
			informaci&oacute;n de identificaci&oacute;n personal a los menores.
			Los menores siempre deben solicitar permiso a sus padres antes de
			enviar informaci&oacute;n personal a otro usuario que se encuentre en
			l&iacute;nea.</p>
		<br />

		<p class="titulos-black">8.- Aceptaci&oacute;n de los
			t&eacute;rminos</p>
		<br />

		<p class="txt-gray">Esta declaraci&oacute;n de Confidencialidad /
			Privacidad est&aacute; sujeta a los t&eacute;rminos y condiciones de
			Costco M&eacute;xico, lo cual constituye un acuerdo legal entre el
			usuario y Costco M&eacute;xico.</p>
		<br />

		<p class="txt-gray">Si el usuario utiliza los servicios de Costco
			M&eacute;xico en cualquiera de sus sitios, significa que ha
			le&iacute;do, entendido y acordado los t&eacute;rminos antes
			expuestos. Si no est&aacute; de acuerdo con ellos, el usuario no
			deber&aacute; proporcionar ninguna informaci&oacute;n personal, ni
			utilizar los servicios de los sitios de Costco M&eacute;xico.</p>
		<br />

		<p class="titulos-black">9.- Principios m&iacute;nimos de nuestra
			pol&iacute;tica de privacidad / confidencialidad</p>
		<br />

		<p class="txt-gray">A continuaci&oacute;n, Costco M&eacute;xico le
			expondr&aacute; brevemente los principios que rigen sus
			pol&iacute;ticas de privacidad y confidencialidad para la
			informaci&oacute;n proporcionada por los usuarios de sus servicios
			electr&oacute;nicos en l&iacute;nea:</p>
		<br />

		<p class="txt-gray">a) Costco M&eacute;xico &uacute;nicamente
			recabar&aacute; la informaci&oacute;n del cliente que es necesaria para
			brindarle los servicios personalizados que se encuentran disponibles
			en sus sitios en Internet, la cual se utilizar&aacute;
			&uacute;nicamente para los fines que es solicitada.</p>
		<br />

		<p class="txt-gray">b) Costco M&eacute;xico se esfuerza por
			asegurar la calidad de la informaci&oacute;n que se recaba sobre
			nuestros usuarios de servicios en l&iacute;nea, particularmente
			cuando se haya obtenido al trav&eacute;s de alg&uacute;n proveedor de
			informaci&oacute;n o de servicios.</p>
		<br />

		<p class="txt-gray">c) Costco M&eacute;xico enfoca sus esfuerzos
			para ofrecer la tecnolog&iacute;a m&aacute;s moderna y actualizada a
			fin de ofrecer a sus clientes/usuarios la mayor seguridad posible en
			el manejo y transferencia de la informaci&oacute;n que es requerida
			en los diversos procesos de requerimiento de datos.</p>
		<br />

		<p class="txt-gray">d) Costco M&eacute;xico evita la
			divulgaci&oacute;n de informaci&oacute;n acerca del cliente/usuario,
			haci&eacute;ndolo &uacute;nicamente respecto de aquellos datos que
			expresamente sean autorizados para ello.</p>
		<br />

		<p class="txt-gray">e) En todo momento, Costco M&eacute;xico
			est&aacute; atento a las inquietudes que manifiesten nuestros
			clientes/usuarios respecto al manejo de la informaci&oacute;n que
			proporcionen para los diversos procesos en l&iacute;nea.</p>
		<br />

		<p class="txt-gray">f) Costco M&eacute;xico cuida de que estos
			principios de privacidad/confidencialidad se extiendan al conjunto de
			relaciones comerciales al interior del grupo.</p>
		<br />

		<p class="txt-gray">g) Costco M&eacute;xico comparte la
			responsabilidad del cuidado de la informaci&oacute;n con sus
			empleados, haci&eacute;ndolos copart&iacute;cipes de los lineamientos
			expuestos en los documentos de "Pol&iacute;ticas de
			privacidad/confidencialidad".</p>
		<br />

	</article>
</section>
<div><p></br></br></p></div>