<ion-content has-bouncing="false" ng-class="{expanded:$scope.isExpanded}" class="full-page-content">
	<article class="content-mas">
		<div id="masQuienes" class="mas" ui-sref="app.quienes">
			<a class="item-content">
				Qui&eacute;nes Somos
				<div class="imgFlch"></div>
			</a>
		</div>
		<div id="masTerminos" class="mas" ui-sref="app.terminos">
			<a class="item-content">
				T&eacute;rminos y Condiciones
				<div class="imgFlch"></div>
			</a>
		</div>
		<div id="masAviso" class="mas" ui-sref="app.aprivacidad">
			<a class="item-content">
				Aviso de Privacidad
				<div class="imgFlch"></div>
			</a>
		</div>
	</article>
</ion-content>