<section style="padding-top:70px;width:100%;height:96%;overflow:scroll;-webkit-overflow-scrolling: touch;">
	<article class="quienesSomos">
		<div class="quienesSomos-left">
			<p class="txt-gray">Costco es el l&iacute;der mundial del concepto de
				Clubes de Precio. Es una tienda de autoservicio al mayoreo y medio
				mayoreo con productos de la m&aacute;s alta calidad a los precios
				m&aacute;s competitivos, en donde s&oacute;lo se puede tener acceso por
				medio de una membres&iacute;a. La historia inicia cuando en 1976, en San
				Diego California nace 'Price Club' creador del formato 'Club de
				autoservicio' m&aacute;s tarde en 1983 en la ciudad de Seattle,
				Washington, se inagura la primera sucursal de Costco y sus fundadores
				son ejecutivos originales de Price Club.</p>
			<br />

			<p class="txt-gray">En 1992, gracias a la asociaci&oacute;n de Price
				Club y Controladora Comercial Mexicana, una de las cadenas de
				autoservicio m&aacute;s importantes de M&eacute;xico, se abri&oacute; la primera
				sucursal PRICE CLUB en nuestro pa&iacute;s, en Cuidad Sat&eacute;lite, al norte de
				la Cuidad de M&eacute;xico.</p>
			<br />

			<p class="txt-gray">En 1993 COSTCO y PRICE CLUB se fusionan para
				ser m&aacute;s competitivos y ofrecer m&aacute;s servicios y mejores
				precios a sus socios, y crean PRICE COSTCO.</p>
			<br />

			<p class="txt-gray">En 1995 COSTCO adquiere las acciones que
				correspond&iacute;an a PRICE CLUB, quedando el nombre comercial de COSTCO
				para toda la cadena, que en ese momento sumaba ya m&aacute;s de 230
				tiendas en diversos pa&iacute;ses.</p>
			<br />

			<p class="txt-gray">En 2012 Costco compra las acciones de
				Controladora Comercial Mexicana conformando una sola empresa en
				M&eacute;xico.</p>
			<br />

			<p class="txt-gray">En nuestro pa&iacute;s PRICE CLUB inici&oacute; una
				r&aacute;pida expansi&oacute;n con la apertura de sucursales tanto en la
				cuidad de M&eacute;xico como en diversos estados de la Rep&uacute;blica Mexicana y
				fue cambiando su imagen paulatinamente hasta quedar con el nombre de
				COSTCO.</p>
			<br />

			<p class="txt-gray">Actualmente Costco cuenta con m&aacute;s de
				62 millones de socios a nivel mundial en las m&aacute;s de 580
				sucursales en los siguientes pa&iacute;ses: Estados Unidos, Canad&aacute;,
				Puerto Rico, Reino Unido, Corea, Taiwan, Jap&oacute;n, Australia y por
				supuesto M&eacute;xico. Hoy COSTCO M&Eacute;XICO tiene sucursales en casi todos
				los estados de la Rep&uacute;blica Mexicana y contin&uacute;a su crecimiento para
				llevar cada vez a m&aacute;s mexicanos los beneficios que ofrece con
				productos y servicios de calidad al mejor precio.</p>
			<br />

			<p class="txt-gray">COSTCO fue creado para mayoristas, minoristas
				y personas f&iacute;sicas con actividad comercial y un alto volumen de
				compras, que mediante la adquisici&oacute;n de una membres&iacute;a anual, pueden
				comprar diversos productos para su negocio o uso personal, a mucho
				mejores precios que en las tiendas de autoservicio tradicionales.</p>
			<br />

			<p class="txt-gray">
				Comentarios y sugerencias en<br /> <a href="#" title="costco"
					class="color">www.costco.com.mx</a><br /><br />
			<ul class="txt-gray telefonos">
				<li>y en los tel&eacute;fonos:</li>
				<li><a href="#" title="Tel&eacute;fono" class="color">55 46 55 93</a></li>
				<li><a href="#" title="Tel&eacute;fono" class="color">52 46 55 94</a></li>
			</ul>
			<br />
			</p>
			<p class="txt-gray">
			<ul class="txt-gray telefonos">
				<li>desde el interior:</li>
				<li><a href="#" title="lada sin costo" class="color">01 800 50 47500</a></li>
				<li><a href="#" title="lada sin costo" class="color">01 800 50 49100</a></li>
			</ul>
			</p>

		</div>
		<div class="contenedorQuienes">
			<img class="costcoBack" alt="Costco" src="images/ajustes/costco-info-transp.png" />
		</div>
	</article>

</section>
