<section style="padding-top:80px;width:100%;height:94%;overflow:scroll;-webkit-overflow-scrolling: touch;">
	<article class="content-politicas">
		<p class="titulos-black txt-center">
			T&eacute;rminos y Condiciones de Uso&nbsp;<br /> <span
				class="texto-small txt-center">(Última actualizaci&oacute;n
				Octubre 2008)</span>
		</p>
		<br />
		<p class="txt-black">"Al hacer uso de esta p&aacute;gina usted
			acepta los t&eacute;rminos y condiciones descritos en este documento,
			los cuales podr&aacute;n ser modificados en cualquier momento por
			Costco, por lo que recomendamos que sean consultados
			peri&oacute;dicamente al hacer uso de la p&aacute;gina.</p>
		<br />

		<p class="txt-black">Toda la infomaci&oacute;n proporcionada por
			el usuario voluntariamente en el sitio www.costco.com.mx, es
			almacenada en una base de datos, con el objetivo de protegerla y
			evitar su p&eacute;rdida, uso indebido o alteraci&oacute;n, para lo
			cual utiliza redes de datos seguros, bajo los sistemas de
			protecci&oacute;n est&aacute;ndar de la industria y de
			protecci&oacute;n de contraseñas, diseñados para protegerlos del
			acceso no autorizado de usuarios dentro y fuera de la empresa.</p>
		<br />

		<p class="txt-black">La informaci&oacute;n relativa a su tarjeta
			de cr&eacute;dito, de d&eacute;bito o de servicios, es exclusivamente
			utilizada en el momento en que usted contrata alg&uacute;n bien o
			servicio ofrecido por la empresa, sin que estos se guarden en una
			base de datos, lo que evita el mal uso de dicha infomaci&oacute;n,
			por lo que en este acto el usuario libera a Costco de cualquier
			responsabilidad que pudiera derivarse del uso de dicha
			informaci&oacute;n por terceros."</p>
		<br />
	</article>

</section>
<div><p></br></br></p></div>