<ion-pane cache-view="false" ng-if="conexion == 0">
	<ion-content>
		<div id="contenidoCupones" style="margin-top: -5vh;">
			<div ng-repeat="default in jsonSliderOptions" id="cupon1" class="cupon">
			<img src="{{ default.raw }}" style="width: 100% !important;">
			<div><img src="images/desctienda/cut_line-360x52.png" style="height: 40px; width: 100%;" /></div>
			</div>
		</div>
		<div><p></br></br></br></br></br></br></br></br></p></div>
	</ion-content>
</ion-pane>
<ion-pane ng-if="primera == 1">
<ion-content zooming = "true">
<ion-scroll zooming = "true" min-zoom="1" max-zoom="2" direction = "y" style = "width: 100%; height: 100%">
	<div>
		<ul id="lista">
		  <li id="item" class="vista1"><img ng-click="vista1();" class="grid1" src="images/desctienda/grid_1_on.png" /></li>
		  <li id="item" class="vista2"><img ng-click="vista2();" class="grid2" src="images/desctienda/grid_2_off.png" /></li>
		  <li id="item" class="vista3"><img ng-click="vista3();" class="grid3" src="images/desctienda/grid_3_off.png" /></li>
		</ul>
	</div>
	<br>
	<div id="contenidoCupones">
		<div class="row responsive-sm">
		  <div class="col" ng-style="myStyleVigencia"><p style="text-align: center; color: #ffffff">{{ vigencia }}</p></div>
		</div>
		<!--img class="full-image" src="https://www3.costco.com.mx/portal/Cupones/validos.jpg" alt="" style="margin-top: 5px" onerror="this.style.display='none'"-->
		<div ng-repeat="item in items" id="cupon1" class="cupon">
		<img ng-click="showImages([$index]);" src="{{ item.raw }}" style="width: 100% !important;">
		<!--img src="images/desctienda/cut_1line-360x52.png"/-->
		</div>
	</div>
	<!--img class="full-image" src="https://www3.costco.com.mx/portal/Cupones/validos.jpg" alt="" onerror="this.style.display='none'"-->
</ion-scroll>
</ion-content>    
</ion-pane>
<ion-pane cache-view="false" ng-if="conexion == 2" has-bouncing="false" ng-class="{expanded:$scope.isExpanded}">
	<ion-content zooming = "true">
	<ion-scroll zooming = "true" min-zoom="1" max-zoom="2" direction = "y" style = "width: 100%; height: 100%">
		<div id="contenidoCupones">
			<!--img class="full-image" src="https://www3.costco.com.mx/portal/Cupones/validos.jpg" alt="" style="margin-top: 5px" onerror="this.style.display='none'"-->
			<div ng-repeat="item in items" id="cupon1" class="cupon">
			<img ng-click="showImages([$index]);" src="{{ item.raw }}" style="width: 100% !important;">
			<!--img src="images/desctienda/cut_1line-360x52.png"/-->
			</div>
		</div>
		<!--img class="full-image" src="https://www3.costco.com.mx/portal/Cupones/validos.jpg" alt="" onerror="this.style.display='none'"-->
	</ion-scroll>
	</ion-content>
</ion-pane>